<div class="page leaf-page" style="--accent:#8E6FE0"><h2>जीने के लिये दस लक्षण</h2><div class="verse">दस लक्षण पर्व
जैन धर्म का स्वरूप दस लक्षणों से युक्त है। ये दस लक्षण आत्मा के स्वभाव
हैं जिन पर विकारों का आवरण छाया हुआ है। आत्म शुद्धि के लिये प्रतिवर्ष दस दिनों
का पर्युषण पर्व मनाया जाता है एवं अपने मन के विकारों को दूर करने हेतु दस धर्मों की
आराधना की जाती है।

मानव धर्म को सही अर्थ में समझ, अपने जीवन में हर क्षण प्रयुक्त करें,
सब विधि क्रोध, मान, माया, लोभ, मोह से मुक्त हो अपना अमूल्य जीवन सवारें।
धर्मपथ पर सुनीति, समर्पण, सद्भावनापूर्वक, अविचल, अबाधित होकर चलते रहें,
आत्म शांति, विश्व शांति हेतु, जैन धर्म का जयघोष हम सदा करते रहें ॥
जैनत्व के दस धर्म, एक प्रयोग, एक कर्त्तव्य हैं, जिन्हें अपने जीवन में धारण करते रहें

उत्तम क्षमा
जीवन में होने वाले दुख, तिरस्कार, अपमान सहने की शक्ति है क्षमा धर्म .

अहिंसा धर्म धारण कर सभी लिप्सा, क्रोधादि विकारों को हम तजें,
कर दो क्षमा उसे भी, क्रोध, तिरस्कार, अत्याचार हम पर करें।
दूसरों को समझें अपने सम, आपस में सद्भावना, स्नेह समझ बढ़ाएँ,
अहिंसा, प्रेम, शान्ति, करूणा की छवि से वसुन्धरा को हम सँवारें॥

उत्तम मार्दव
मान, अहंकार का त्याग कर, मृदुता, विनम्रता धारण करना है मार्दव धर्म .

पाकर तुच्छ ज्ञान, धन-दौलत, प्रतिष्ठा, बल औरों का करता अपमान हो,
पीड़ित, घोर अंधकार में मानव, कर रहा अपना ही पतन दिग्भ्रमित हो।
विनयी है वही जिसमें, बड़ों से इज्जत, छोटों से स्नेह, विरोधी से माध्यस्थ भाव हो,
मृदुता,सौम्यता, करूणा, समता है वही, जिसमें मानवता, लोक कल्याण निहित हो॥</div><div class="page-num">(37)</div></div>