<div class="page leaf-page" style="--accent:#8E6FE0"><h2>नवम् चरण - वैयावृत्यकरण भावना</h2><div class="verse">त्यागी, मुनि, असहाय जीवमात्र की सेवा शुश्रुषा करने की हार्दिक इच्छा ही वैयावृत्यकरण
भावना है जो हृदय को निर्मलता प्रदान करती है।

वैयावृत्ति, सेवा, शुश्रुषा, वाञ्छारहित श्रद्धा से त्यागी, मुनि, जीव मात्र की करें भक्तिपूर्वक,
मन से ग्लानि का अभाव कर, संयमपूर्वक औषधि, पथ्य, आहार से रोगों व दुखों का करें उपशमन।
दया, स्नेह, वात्सल्य, सेवा भावना से मिटती मन की क्रूरता, आत्मा होती अति विमल,
निरपेक्ष मानव सेवा भावना से दुख निवारण कर, मानव जीवन होता सुशोभित अलंकृत॥

वैयावृत्यकरण भावना से सेवा शुश्रुषा कर विशुद्धता, उच्चता को होते प्राप्त।

दशम् चरण - अरिहन्त भक्ति भावना
अरिहन्त के गुणों में अनुराग है । अरिहन्त में भक्ति भाव रख प्रभु की आराधना से मन
होता है पवित्र एवं निर्मल।

अरिहन्त के दिव्य गुणों की प्रशंसा, आराधना, पूजा, स्तवन् से मन स्फटिक सा होता पवित्र,
जिसके मन व जिह्वा पर बसा हो अरिहन्त नाम, दुर्भावना, दुष्ट विचार कभी न होंगे प्रगट।
दिव्य, अनन्त चतुष्टयधारी हमारे घोर मिथ्यात्व, विषय, कषायों का करते निवारण,
उनके गुणों की करते रहें आराधना, संसार सागर को सुगमता से कर लेंगे पार॥

अरिहन्त भक्ति भावना से संसार में सुख भोगकर, अविनाशी अक्षय सुख होता प्राप्त।

एकादश चरण - आचार्य भक्ति भावना
परम तपस्वी, अनन्त गुणी, धर्मनायक आचार्य के गुणों में भक्ति भाव से अनुराग एवं
निर्मल सुख की प्राप्ति होती है।

धर्मनायक 36 सुगुणों के धारी, 22 परिषह सहने वाले परम तपस्वी मुनीसंघ प्रधान हैं आचार्य,
सम्यग्दर्शन, ज्ञान, चारित्रयुक्त, अन्तर्बाह्य परिग्रह रहित पञ्चमहाव्रतों का दृढ़ता से करते पालन।
धर्मस्तम्भ, मुनिसंघ को शिक्षा, दीक्षा देने में निपुण मुनिश्रेष्ठ होते हैं हमारे पथ प्रदर्शक,
ऐसे परमज्ञान, परम तपस्वी, आचार्य की भक्ति भावना से प्राप्त होती है आत्मशक्ति अपिरिमित॥

आचार्य भक्ति भावना से उनके गुणों में अनुराग पूर्ण भाव देता है आत्मसुख निर्मल।</div><div class="page-num">(43)</div></div>