<div class="page leaf-page" style="--accent:#34B389"><h2>मेघ ! तुम अब तक क्यों न आए</h2><div class="verse">मेघ ! तुम अब तक क्यों न आए।

देख रहे हैं कृषक गगन में,
टकटकी आस लगाए।
ताल सरोवर सूखे अकुलाए
खेत खलिहान तपे, मेघ न आए।

देख रहे हैं जन जन आसमाँ में,
सारी दृष्टि अपलक नभ में।
लगता है इस सूखे जीवन की कोई थाह नहीं है,
ओ मेघ ! तुम बिन कहीं कोई राह नहीं है ।

पशु पक्षी की तड़प करती पुकार,
खूब बरसो ओ मेघ ! घुमड़ घुमड़ कर,
शीतल पवन झोंकों से धरती की प्यास बुझाओ।
अब तो आ जाओ मेघ, जलते जीवन की बैचेनी सहला जाओ।
<span class="sep">✳ ✳ ✳</span></div><div class="page-num">(57)</div></div>