<div class="page leaf-page" style="--accent:#34B389"><h2>आज वसन्त ने खोला नवजीवन का द्वार</h2><div class="verse">आज वसन्त ने खोला नव जीवन का द्वार ..........

सृष्टि का दमकता उल्लास
निरन्तर बह रहा मधुभास,
खिल उठे सर्वत्र पत्र फूल,
झूम उठी तरूओं की डाल॥

आज वसन्त ने खोला अन्तर का द्वारा ............

नव बालाओं के अन्तर हो रहे पुलकित,
प्रकृति नट ने कर दिया उद्वेलित,
प्रणय लाज से हो रही उन्मादित,
वासन्ती हवाओं में झूम रहा युवा संसार॥

आज वसन्त ने खोला फिर स्नेह द्वार ............

पुरवा की चल रही चंचल बयार,
जन जन के मन में आया उल्लास,
बिरही मन में जाग रही एक आस,
आतुर मन में पिया मिलन की प्यास॥

आज वसन्त ने खोला मिलन का द्वार ...........
<span class="sep">✳ ✳ ✳</span></div><div class="page-num">(62)</div></div>