<div class="page leaf-page" style="--accent:#EE6D9C"><h2>अमर रहे गणतंत्र हमारा</h2><div class="verse">गणतंत्र दिवस “सब सुखी” “सब सम्मान” कर रहा सिंहनाद,
स्वार्थ की अंधी दौड़ में अपनी आजादी पर आए ना आँच।
हर मन में गूँजे समता, स्वाधीनता व देशभक्ति के पावन स्वर,
जन-जन को सुरक्षित, शिक्षित, समृद्ध कर हम मनाएँ गणतंत्र दिवस॥

जीवन का कुरूप, वैषम्य, गरीबी, बेकारी, मानवता की विकल पुकार,
जुल्म ना होने देंगे शोषित मानव पर, न सहेंगे माँ, बहनों का अपमान।
लोकतंत्र दे रहा दुहाई, संगठन शक्ति में सबका सुख है सुनिश्चित,
हाथ में सबकी सुरक्षा, शान्ति, समृद्धि की ध्वजा लेकर मनाएँगे गणतंत्र दिवस॥

शस्य श्यामल स्वर्ण भूमि भारत है वन्दनीय, गणतंत्र हमारा है अभिनन्दनीय,
जन-जन की खुशहाली, विकास के लिये चाहिये स्वच्छ, सुघड़ इमान शासन।
शासक करायें सबके लिये सुरक्षा, शिक्षा, स्वास्थ्य की सुविधाएँ उपलब्ध,
टूटेगी विद्रोही, दानवी कड़ियाँ, होंगे हम सब सुखी मानवता के चिर संस्थापक॥

गणतंत्र हमारा है अनमोल, प्राणों की आहुति देकर भी करना है रक्षण,
अब होग वर्गरहित, वैषम्य समाज और होगा जय जागृत भारत।
कभी न झुकेगा आततायियों के समक्ष, स्वतंत्र भारत का उच्च मस्तक,
निर्मित हो,जागृत हो, हर शिरा-शिरा में आजादी के जज्बा का नूतन रक्त॥

देश की संस्कृति, सुरक्षा, शान्ति, समृद्धि का प्रतीक तिरंगा सदा लहराए भाल पर,
हर मानव को मिले खुशहाली व प्रगति, विश्व शान्ति के हम हैं आराधक।
लोक का तंत्र है यही, हर व्यक्ति की उन्नति हो और हो सबकी जयजयकार,
गणतंत्र दिवस पर फूँको राष्ट्रप्रेम की चिनगारी व जन-जन में भर दो संगठित बल॥

<span class="sep">✳ ✳ ✳</span></div><div class="page-num">(75)</div></div>